.home {
    position: relative;
    background-color: #000;
    min-height: 350px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    color: rgb(125,125,125);

    &__image {
        display: block;
        max-height: 500px;
    }

    &__content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        
        &__description {
            line-height: 1rem;
            padding: 0 10px;

            @mixin atMedium {
                line-height: 1.35rem;
                padding-top: 25px;
                padding-left: 50px;
                max-width: 500px;
            }
        }
    }
}