.home {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.35rem;
    color: rgb(125,125,125);
    padding-top: 125px;
    padding-left: 15px;
    padding-right: 10px;
    max-width: 100%;

    &--description {
        @mixin atMedium {
            padding-top: 25px;
            padding-left: 50px;
            max-width: 500px;
        }
    }
}