.portfolio {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    min-height: 450px;
    font-family: 'Roboto', sans-serif;
    border-top: 1px solid $mainBlue;
    border-bottom: 1px solid $mainBlue;

    &__title {
        position: absolute;
        top: 10px;
        left: 10px;
        color: rgb(43,100,142);
        font-size: 1.10rem;
    }
}


/* font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif; */
/* Title
    Font-Family: 'Roboto', Sans-Serif;
    Font-Size: 2.8125rem;
    font-weight: 300;
*/
/* paragraph
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    Font-Family: 'Lato', Sans-Serif;
    Font-Size: 16px;
*/
