.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    min-height: 100vh;
    /*color: rgb(125,125,125);
    background-color: $mainDarkBlue;
    height: auto;
    padding-top: 1px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgb(185,185,185);

    &__content {
        margin: 15px 10px 0 10px;
    }

    &__title {
        font-size: 1.1rem;
        padding: 10px 0 0 10px;
    }

    &__1 {
        padding: 5px 0 10px 10px;
        border-left: 5px solid $mainOrangeDark;
    
        &__title {
            font-family: 'Roboto', sans-serif;
            font-Size: 2rem;
            font-weight: 200;
            margin: .5rem 0 0 0;
            color: $mainLightBlue;
        
            @mixin atMedium {
                font-Size: 2.4rem;
            }
        }
    
        &__subtitle {
            font-family: 'Courier', sans-serif;
            font-Size: 1.2rem;
            font-weight: 200;
            margin: 0;
            letter-spacing: -1px;
    
            @mixin atMedium {
                font-Size: 1.4rem;
            }
        }    
    
        &__description {
            font-Family: 'Courier', Sans-Serif;
            font-Size: .85rem;
    
            @mixin atMedium {
                font-Size: 1rem;
            }
        }
    }

    &__2 {
        padding: 5px 0 10px 10px;
        margin-top: 20px;
        border-left: 5px solid $mainOrangeDark;
    
        &__title {
            font-family: 'Roboto', sans-serif;
            font-Size: 2rem;
            font-weight: 200;
            margin: .5rem 0 0 0;
            color: $mainLightBlue;
        
            @mixin atMedium {
                font-Size: 2.4rem;
            }
        }
    
        &__subtitle {
            font-family: 'Courier', sans-serif;
            font-Size: 1.2rem;
            font-weight: 200;
            margin: 0;
            letter-spacing: -1px;
    
            @mixin atMedium {
                font-Size: 1.4rem;
            }
        }    
    
        &__description {
            font-Family: 'Courier', Sans-Serif;
            font-Size: .85rem;
    
            @mixin atMedium {
                font-Size: 1rem;
            }
        }
    }*/
}


/* font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif; */
/* Title
    Font-Family: 'Roboto', Sans-Serif;
    Font-Size: 2.8125rem;
    font-weight: 300;
*/
/* paragraph
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    Font-Family: 'Lato', Sans-Serif;
    Font-Size: 16px;
*/
